@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --bg: #050505;
    --panel: #0f0f0f;
}


body{
    @apply bg-gradient-to-b from-[#0b0b0b] via-[#0f0f0f] to-[#070707] text-white antialiased;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}


/* small helper */
.card{
    @apply bg-panel rounded-2xl shadow-lg p-6;
}